{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="container-fluid">
  <div class="one-project" style="background:url('{{project.landing_page.url}}')">
    <div class="progress-circle content" data-progress='{{project.content}}'></div>
    <div class="progress-circle design" data-progress='{{project.design}}'></div>
    <div class="progress-circle usability" data-progress='{{project.usability}}'></div>
  </div>
  <div class="one-project-text">
    <h3 class="text-center">{{project.project_title}}</h3>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <a target="_blank" href="{{project.live_site}}" class="btn">Visit Site</a>
      </div>
      <div class="col-md-4"></div>
    </div>
    {% autoescape on%}
    <p class="text-center">{{project.project_description | safe}}</p>
    {% endautoescape%}
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <ul class="d-flex justify-content-between">
          <li>Design: {{project.design}}</li>
          <li>Usability: {{project.usability}}</li>
          <li>Content: {{project.content}}</li>
        </ul>
      </div>
      <div class="col-md-3"></div>
    </div>
    <p class="text-center">By <span>{{project.user.username}}</span></p>
  </div>
</div>
{% endblock %}