{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="container-fluid" style="margin-top: 130px;">
    <div class="row">
        <div class="col-6">
          <img class="lib-img-show" src="{{project.landing_page.url}}" width ="100%">
          <div class="progress-circle content" data-progress='{{project.content}}'></div>
          <div class="progress-circle design" data-progress='{{project.design}}'></div>
          <div class="progress-circle usability" data-progress='{{project.usability}}'></div>
        </div>
        <div class="col-md-5">
            <div class="one-project-text">
              <h3 class="text-center">{{project.title}}</h3>
              <div class="row">
                  <div class="col-md-12">
                      <a target="_blank" href="{{project.live_site}}" class="text-center" style="text-align: center">Visit Site</a>
                  </div>
              </div>
              {% autoescape on%}
              <p class="text-center">{{project.description | safe}}</p>
              {% endautoescape%}
              <div class="row">
                
                <div class="col-md-12">
                  <ul class="d-flex justify-content-between">
                    <li>Design: {{project.design}}</li>
                    <li>Usability: {{project.usability}}</li>
                    <li>Content: {{project.content}}</li>
                  </ul>
                </div>
              
              </div>
              <p class="text-center">By <span>{{project.user.username}}</span> with <span>{{rating}}</span></p>

            </div>
          </div>
     </div>
</div>
{% endblock %}