{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3 class="search text-center">Send Your Project</h3>
      <hr>
      <form class="" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        <div class="form-group">
        <input type="submit" class="btn mx-auto" value="Submit Project">
      </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}