{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            
            <h4 class="modal-title" id="myModalLabel">Send Your Project</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="well">
                          <form class="" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}

                            <div class="form-group">
                            <input type="submit" class="btn mx-auto" value="Submit Project">
                          </div>
                          </form>
                        </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
</div>
{% endblock %}